body {
  margin: 0;
  text-align: center;
}

h1 {
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  color: #66bfbf;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
  font-weight: normal;
}

h2 span {
  text-decoration: underline;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

hr {
  border: none;
  border-top: 6px dotted #eaf6f6;
  height: 2px;
  width: 5%;
}

.skill1 {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill2 {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.profile {
  margin: 60px;
}

.Hello {
  color: #40514e;
  margin-bottom: 48px;
}

.skill-row {
  border-radius: 50%;
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.top-conteiner {
  background-color: #eaf6f6;
  position: relative;
  padding-top: 100px;
}
.middle-container {
}
.bottom-container {
  background-color: #66bfbf;
  padding-top: 48px;
  padding-bottom: 48px;
}

.footer-link {
  color: #11999e;
  margin: 10px 20px;
  text-decoration: none;
}

.bottom-cloud {
  position: absolute;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.contact-me {
  margin: 48px;
}

.contact-me-p {
  margin: 48px;
}

.footer {
  color: #eaf6f6;
  margin-top: 30px;
}

.BUTTON_Contact_me {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 18px;
  color: #ffffff;
  font-family: Arial;
  font-size: 25px;
  font-weight: 100;
  padding: 15px;
  background-color: #66bfbf;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
